LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 25 MHZ;

LOCATE COMP "LCD_CLK" SITE "J13";
IOBUF PORT "LCD_CLK" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_DEN" SITE "F13";
IOBUF PORT "LCD_DEN" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_R[0]" SITE "P11";
LOCATE COMP "LCD_R[1]" SITE "N12";
LOCATE COMP "LCD_R[2]" SITE "N13";
LOCATE COMP "LCD_R[3]" SITE "M12";
LOCATE COMP "LCD_R[4]" SITE "L14";
IOBUF PORT "LCD_R[0]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_R[1]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_R[2]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_R[3]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_R[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_G[0]" SITE "P12";
LOCATE COMP "LCD_G[1]" SITE "P13";
LOCATE COMP "LCD_G[2]" SITE "P14";
LOCATE COMP "LCD_G[3]" SITE "M13";
LOCATE COMP "LCD_G[4]" SITE "L13";
LOCATE COMP "LCD_G[5]" SITE "K13";
IOBUF PORT "LCD_G[0]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_G[1]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_G[2]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_G[3]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_G[4]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_G[5]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "LCD_B[0]" SITE "K14";
LOCATE COMP "LCD_B[1]" SITE "J14";
LOCATE COMP "LCD_B[2]" SITE "H14";
LOCATE COMP "LCD_B[3]" SITE "G14";
LOCATE COMP "LCD_B[4]" SITE "F14";
IOBUF PORT "LCD_B[0]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_B[1]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_B[2]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_B[3]" DRIVE=4 IO_TYPE=LVCMOS33;
IOBUF PORT "LCD_B[4]" DRIVE=4 IO_TYPE=LVCMOS33;

LOCATE COMP "SPI_SCK"  SITE "R7";
LOCATE COMP "SPI_MOSI" SITE "R8";
LOCATE COMP "SPI_CS"   SITE "D5";
IOBUF PORT "SPI_SCK"  IO_TYPE=LVCMOS33;
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;
IOBUF PORT "SPI_CS"   IO_TYPE=LVCMOS33;

LOCATE COMP "BUZZER" SITE "C4";
IOBUF PORT "BUZZER" IO_TYPE=LVCMOS33;

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
